@model BinarySurveyPOC.Models.SurveyResponsesSummary
<div class="text-center">
    <canvas id="reponseChart" width="500" height="500"></canvas>
</div>
<script>
    var ctx = document.getElementById('reponseChart');
    debugger
    var chartInstance = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['YES', 'NO'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            }]
        }
    })
</script>