
@{
    ViewBag.Title = "Create";
}

<h2>Create a Survey</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <input id="lat" type="hidden" name="coords.lat" value="" />
    <input id="lng" type="hidden" name="coords.lng" value="" />
    <div class="form-group">
        <input type="text" class="form-control" name="surveyQuestion" id="surveyQuestion" placeholder="Survey Question">
    </div>
    <div class="form-group">
        <label for="distanceKm  ">Distance</label>
        <input type="number" id="distanceKm" name="id="distanceKm"" min="0.5" step="0.5" max="5" value="2" class="form-control" placeholder="Distance in Kilometers">
    </div>
    <div class="form-group">
        <label for="durationMinutes">Duration</label>
        <select id="durationMinutes" name="durationMinutes" class="form-control">
            <option selected value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="30">30 minutes</option>
        </select>
    </div>
    <div class="form-group">
        <input id="submit" type="submit" class="btn btn-success" disabled />
    </div>
}
@section scripts{
    <script>
        var latNode = document.getElementById("lat");
        var lngNode = document.getElementById("lng");
        var submitNode = document.getElementById("submit");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position)
                    latNode.value = position.coords.latitude;
                    lngNode.value = position.coords.longitude;
                    submitNode.disabled = ""
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        getLocation();
    //$(function () {
    //    https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452
    //});
    </script>
}
